.summary{
  background-color: #b3b3b3;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
}

.footerLinks{
  text-align: left;

}
